@model CryptoBalance.user

@{
    ViewBag.Title = "Sign up";
}

<div class="bg-white border border-3 p-4 ">
    <h2 class="p-2 text-center">Sign Up</h2>
    <hr />
    <div class="text-start w-50 m-auto">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()



            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row p-3">
                <div class="col-3 d-inline">
                    @Html.Label("Username", htmlAttributes: new { @class = "control-label  d-inline" })
                </div>
                <div class="col-9 d-inline">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control d-inline" } })
                </div>
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger d-block" })

            </div>
            <div class="row p-3">
                <div class="col-3 d-inline">
                    @Html.Label("Password", htmlAttributes: new { @class = "control-label d-inline" })
                </div>
                <div class="col-9 d-inline">
                    @Html.PasswordFor(model => model.password, new { @class = "form-control d-inline" })
                </div>

                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger d-block" })

            </div>

            <div class="row p-3">
                <div class="col-3 d-inline">
                    @Html.Label("First Name", htmlAttributes: new { @class = "control-label d-inline" })
                </div>
                <div class="col-9 d-inline">
                    @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control d-inline" } })
                </div>
                @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
            </div>
            <div class="row p-3">
                <div class="col-3 d-inline">
                    @Html.Label("Last Name", htmlAttributes: new { @class = "control-label d-inline" })
                </div>
                <div class="col-9 d-inline">
                    @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control d-inline" } })
                </div>
                @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger d-block" })

            </div>

            <div class="row p-3">
                <div class="col-3 d-inline">
                    @Html.Label("Email", htmlAttributes: new { @class = "control-label d-inline " })
                </div>
                <div class="col-9 d-inline">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control d-inline" } })
                </div>
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger d-block" })

            </div>

            <div class="row p-3">
                <div class="col-3 d-inline">
                    @Html.Label("Phone", htmlAttributes: new { @class = "control-label d-inline" })
                </div>
                <div class="col-9 d-inline">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control d-inline" } })
                </div>
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger d-block" })

            </div>

            <div class="row p-3">
                <div class="col-3 d-inline">
                    @Html.Label("City", htmlAttributes: new { @class = "control-label d-inline" })
                </div>
                <div class="col-9 d-inline">
                    @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control d-inline" } })
                </div>

                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger d-block" })

            </div>

            <div class="row p-3">
                <div class="col-3 d-inline">
                    @Html.Label("Province", htmlAttributes: new { @class = "control-label d-inline" })
                </div>
                <div class="col-9 d-inline">
                    @Html.EditorFor(model => model.province, new { htmlAttributes = new { @class = "form-control d-inline" } })
                </div>
                @Html.ValidationMessageFor(model => model.province, "", new { @class = "text-danger d-block" })

            </div>

            <div class="row p-3">
                <div class="col-3 d-inline">
                    @Html.Label("Country", htmlAttributes: new { @class = "control-label d-inline" })
                </div>
                <div class="col-9 d-inline">
                    @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control d-inline" } })
                </div>

                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger d-block" })

            </div>

            <div class="row p-3">
                <div class="col-3 d-inline">
                    @Html.Label("Date of Birth", htmlAttributes: new { @class = "control-label d-inline" })
                </div>
                <div class="col-9 d-inline">
                    @Html.EditorFor(model => model.date_of_birth, new { htmlAttributes = new { @class = "form-control d-inline" } })
                </div>

                @Html.ValidationMessageFor(model => model.date_of_birth, "", new { @class = "text-danger d-block" })

            </div>
            <hr />
            <div class="text-center p-2">           
                <input type="submit" value="Sign Up" class="btn btn-success w-100" />
            </div>
        }

    </div>
</div>
