@model CryptoBalance.transaction

@{
    ViewBag.Title = "Edit";
}


<div class="bg-white border border-3 p-4 text-center">
    <h3>Edit Transaction</h3>
    <hr />
    <div class="w-50 m-auto col-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.transaction_id)

            <div class="row">
                Crypto Coin
                @Html.EditorFor(model => model.crypto_coin, new { htmlAttributes = new { @class = "form-control col-6" } })
                @Html.ValidationMessageFor(model => model.crypto_coin, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                Market Price (USD)
                @Html.EditorFor(model => model.market_price, new { htmlAttributes = new { @class = "form-control col-6" } })
                @Html.ValidationMessageFor(model => model.market_price, "", new { @class = "text-danger " })

            </div>

            <div class="row">
                Amount (USD)
                @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control col-6" } })
                @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })

            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-defaut  border border-1  me-3" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default  border border-1 " })
                </div>
            </div>
        }

    </div>

</div>
