@model PagedList.IPagedList<CryptoBalance.transaction>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<div class="bg-white border border-3 p-4 text-center">
    <h2 class="p-2 text-center">My Transactions</h2>
    <hr />
    <table class="table table-striped p-5">
        <tr>
            <th>
                @Html.ActionLink("Crypto Coin", "Index", 
                            new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter }, 
                            new { @class = "text-decoration-none" })
            </th>
            <th>
                @Html.ActionLink("Market Price", "Index",
                            new { sortOrder = ViewBag.MarketPriceParam, currentFilter = ViewBag.CurrentFilter },
                            new { @class = "text-decoration-none" })
            </th>
            <th>
                @Html.ActionLink("Amount", "Index", 
                            new { sortOrder = ViewBag.AmountParam, currentFilter = ViewBag.CurrentFilter },
                            new { @class = "text-decoration-none" })

            </th>
            <th>
                @Html.ActionLink("Total Coins", "Index", 
                            new { sortOrder = ViewBag.TotalCoinsParam, currentFilter = ViewBag.CurrentFilter },
                            new { @class = "text-decoration-none" })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.crypto_coin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.market_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cryto_total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.transaction_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.transaction_id })
        </td>
    </tr>
        }
    </table>
    <hr />
    <div class="text-center">
        Page @(Model.PageCount <Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

