<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-light">
    <div class="container-fluid body-content bg-light p-4 w-75">
        @{
            HttpCookie cookie = Request.Cookies["AuthCookie"];
            if (cookie == null)
            {
                @*<li class="nav-item">@Html.ActionLink("Sign In", "SignIn", "users")</li>
                <li class="nav-item">@Html.ActionLink("Sign up", "Create", "users")</li>*@
            }
            else
            {
                <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                    <div class="container-fluid">
                        @Html.ActionLink("Crypto Balance", "AllCoins", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">@Html.ActionLink("All Coins", "AllCoins", "Home")</li>
                                <li class="nav-item">@Html.ActionLink("News", "Contact", "Home")</li>
                                <li class="nav-item">@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                                <li class="nav-item">@Html.ActionLink("Logout", "Logout", "users")</li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }
        }


        <br />
        @RenderBody()
    </div>
    <hr />
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Crypto Coin Balance</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>