<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-light">
    <div class="container-fluid body-content bg-light p-4 w-75">
        @{
            HttpCookie cookie = Request.Cookies["AuthCookie"];
            if (cookie == null)
            {

                @*<li class="nav-item">@Html.ActionLink("Sign In", "SignIn", "users")</li>
                <li class="nav-item">@Html.ActionLink("Sign up", "Create", "users")</li>*@
            }
            else
            {
                @Html.Partial("_PartialNavBar")
            }
        }


        <br />
        @RenderBody()
    </div>
    <hr />
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Crypto Coin Balance</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>