@model IEnumerable<CryptoBalance.transaction>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.crypto_coin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.market_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cryto_total)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.crypto_coin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.market_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cryto_total)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.transaction_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.transaction_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.transaction_id })
            </td>
        </tr>
    }

</table>
