@model PagedList.IPagedList<CryptoBalance.Models.CryptoCoin>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "AllCoins";

}

<div class="bg-white border border-3 p-4 ">
    <h2 class="p-2 text-center">Crypto Market</h2>
    <hr />
    <div class="text-end">
        @using (Html.BeginForm("AllCoins", "Home", FormMethod.Get))
        {
            <p>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control d-inline" })
                <input type="submit" value="Search" class="btn btn-dark rounded-pill d-inline p-2" />
            </p>
        }
    </div>
    <table class="table table-striped p-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Coin</th>
                <th scope="col">Symbol</thscope="col">
                <th scope="col">Price</thscope="col">
                <th scope="col">%24h</thscope="col">
            </tr>
        </thead>
        <tbody>
            @{

                foreach (var item in Model)
                { @:<tr>
                        @:<th scope="row">@item.Rank</th>
                        @:<td>@item.Name</td>
                        @:<td>@item.Symbol</td>
                        @:<td> $ @item.CurrentPrice</td>
                        if (item.Change24h > 0)
                        {
                            @:<td class="text-success"> % @item.Change24h</td>
                        }
                        else
                        {
                            @:<td class="text-danger"> % @item.Change24h</td>
                        }

                    }
                @:</tr>
            }
        </tbody>
    </table>
    <hr />
    <div class="text-center">
        Page @(Model.PageCount <Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("AllCoins", new {page}))
    </div>
</div>

