
@{
    ViewBag.Title = "AllCoins";

}

<div class="bg-white border border-3 p-4 ">
    <h2 class="p-2 text-center">Market</h2>
    <hr />
    <table class="table table-striped p-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Coin</th>
                <th scope="col">Symbol</thscope="col">
                <th scope="col">Price</thscope="col">
                <th scope="col">%24h</thscope="col">
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Count; i++)
                { @:<tr>
                        @:<th scope="row">@Model[i].Rank</th>
                        @:<td>@Model[i].Name</td>
                        @:<td>@Model[i].Symbol</td>
                        @:<td> $ @Model[i].CurrentPrice</td>
                        if (Model[i].Change24h > 0)
                        {
                            @:<td class="text-success"> % @Model[i].Change24h</td>
                        }
                        else
                        {
                            @:<td class="text-danger"> % @Model[i].Change24h</td>
                        }

                    }
                @:</tr>
            }
        </tbody>
    </table>
</div>

