@model CryptoBalance.transaction

@{
    ViewBag.Title = "Dashboard";

    List<SelectListItem> itemsCrypto = new List<SelectListItem>();
    itemsCrypto = ViewBag.CryptoCurrencies;


}


<div class="row">
    <div class="col-sm-6 p-2 align-middle">
        <div class="bg-white border border-3 p-4 ">
            @using (Html.BeginForm("Create", "transactions", FormMethod.Post, new { @class = "row" }))
            {
                @Html.AntiForgeryToken()

                <div class="col-sm-6 ps-5">
                    @Html.Label("From")
                    <br />
                    @Html.DropDownList("FiatCurrencies", null, new { @class = "form-control w-50 text-center" })
                    <br />
                    @Html.LabelFor(model => model.crypto_coin, "To", new { @class = "pt-3" })
                    <br />
                    @Html.DropDownListFor(model => model.crypto_coin, itemsCrypto, new { @class = "form-control w-50 text-center" })
                    @Html.ValidationMessageFor(model => model.crypto_coin, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">

                    @Html.LabelFor(model => model.transaction_id, "Transaction ID", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.transaction_id, new { htmlAttributes = new { @class = "form-control w-50 text-center" } })
                    @Html.ValidationMessageFor(model => model.transaction_id, "", new { @class = "text-danger" })

                    <br />
                    @Html.LabelFor(model => model.amount, "Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control w-50 text-center" } })
                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })

                    <br />

                    @Html.LabelFor(model => model.market_price,"Market Price", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.market_price, new { htmlAttributes = new { @class = "form-control w-50 text-center" } })
                    @Html.ValidationMessageFor(model => model.market_price, "", new { @class = "text-danger" })
                    <br />
                    <input type="submit" value="Add Transaction" class="btn btn-primary w-100 rounded-pill mt-4" />
                </div>
            }
        </div>
        <br />
        <div class="bg-white border border-3 p-4 ">
            <h4 class="text-center p-1">My Transactions</h4>
            <hr/>
            @{
                Html.RenderAction("Index", "transactions");
           }
        </div>
    </div>
    <div class="col-sm-6 p-2 align-middle">
        <div class="row bg-white border border-3">
            <div class="col-sm-6">
                <h2 class="text-start p-3 text-success">Balance</h2>
            </div>
            <div class="col-sm-6">
                @{
                    Double totalBTC = Convert.ToDouble(TempData["totalBTC"]);
                    Double totalFiat = Convert.ToDouble(TempData["totalFiat"]);
                    Double currentPriceBTC = Convert.ToDouble(ViewBag.btc);

                    Double balance = totalBTC * currentPriceBTC;
                    Double rate = ((balance - totalFiat)/(totalFiat))*100;
                    rate = Math.Round(rate, 2);
                    balance = Math.Round(balance,2);
                }

                @{

                    if(rate > 0){

                        <h4 class="text-end p-3">@balance USD <span class="text-success">+@rate %</span></h4>
                    }else{
                        <h4 class="text-end p-3">@balance USD <span class="text-danger">@rate %</span></h4>
                    }

                }

            </div>
        </div>
        <br />
        <div class="row bg-white border border-3 p-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">24h Change</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><img src="~/Content/Images/logo_btc.png" width="30" height="30" class="rounded-circle" /> Bitcoin <span class="fst-italic">BTC</span></td>
                        <td>@ViewBag.btc USD</td>
                        <td>%10.00</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><img src="~/Content/Images/logo_eth.png" width="30" height="30" class="rounded-circle" /> Ethereum <span class="fst-italic">ETH</span></td>
                        <td>@ViewBag.eth USD</td>
                        <td>%10.00</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td><img src="~/Content/Images/logo_sol.png" width="30" height="30" class="rounded-circle" /> Solana <span class="fst-italic">SOL</span></td>
                        <td>@ViewBag.sol USD</td>
                        <td>%10.00</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td><img src="~/Content/Images/logo_ada.png" width="30" height="30" class="rounded-circle" /> Cardano <span class="fst-italic">ADA</span></td>
                        <td>@ViewBag.ada USD</td>
                        <td>%10.00</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><img src="~/Content/Images/logo_xrp.png" width="30" height="30" class="rounded-circle" /> XRP Coin <span class="fst-italic">XRP</span></td>
                        <td>@ViewBag.xrp USD</td>
                        <td>%10.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
